-
  # https://gist.github.com/masutaka/8177244
  - 8177244
  - .emacs.d/init.el
-
  # https://gist.github.com/masutaka/9642146
  - 9642146
  - bin/my-brew-bundle
-
  # https://gist.github.com/masutaka/9287567
  - 9287567
  - .zshenv
-
  # https://gist.github.com/masutaka/9287575
  - 9287575
  - .zshrc
